<!DOCTYPE html>
<html lang="EN-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width", initial-scale="1.0"/>
        <title>Internet History Web Page</title>
    </head>

    <body>
        <header>
            <h1>The History of the Internet</h1>
            <p>The following webpage presents the major milestones which shaped the Internet History</p>
        </header>

        <nav>
            <h2>Navigation Window</h2>
            <p><a href="#1958-1968">First Phase</a></p>
            <p><a href="#1971-1978">Second Phase</a></p>
            <p><a href="#1983-1989">Third Phase</a></p>
            <p><a href="#1990-1999">Fourth Phase</a></p>
            <p><a href="#2000-2010">Fifth Phase</a></p>
            <p><a href="#2010-Present Day">Sixth Phase</a></p>
            <p><a href="#References">References</a></p>
        </nav>

        <main>
            <section id="1958-1968">
            <h2>First Phase: 1958-1968</h2>
                <article>
                    <h3>1958: ARPA was established</h3>
                    <p>The US created the Advanced Research Projects Agency (ARPA) as a response to Sputnik. It funded important computer and networking research.</p>
                </article>
                <article>
                    <h3>1961: Packet Switching Theory Appears</h3>
                    <p>Leonard Kleinrock published his work on packet-switching networks, which provided an important theoretical foundation for computer communication.</p>
                </article>
                <article>
                    <h3>1964: Paul Baran Ideas</h3>
                    <p>Paul Baran developed ideas for decentralized, and resilient communication networks, including packet switching.</p>
                </article>
                <article>
                    <h3>1965: First Wide-Area Computer Connection</h3>
                    <p>The first wide-area computer connection was established between a computer in Massachusetts and another one in California, over a dedicated telephone line.</p>
                </article>
                <article>
                    <h3>1968: ARPA develops specifications and selects contractors</h3>
                    <p>ARPA developed specifications for a packet-switched research network and began selecting the technology and contractors needed to build it.</p>
                </article>
            </section>

            <section id="1971-1978">
            <h2>Second Phase: 1971-1978</h2>
                 <article>
                    <h3>1971: Email was invented</h3>
                    <p>Ray Tomlinson developed the email and introduced the @ convention for user addresses</p>
                </article>
                <article>
                    <h3>1973: Internetwork Communication Mechanism Development</h3>
                    <p>Vint Cerf and Bob Kahn began developing mechanisms to connect independent networks together.</p>
                </article>
                <article>
                    <h3>1974: TCP Concept Appears</h3>
                    <p>The TCP concept was published. This was the establishing foundation for TCP/IP.</p>
                </article>
                <article>
                    <h3>1978: TCP split</h3>
                    <p>TCP split into TCP(Transmission Control Protocol) and IP(Internet Protocol)</p>
                </article>
            </section>

            <section id="1983-1989">
            <h2>Third Phase: 1983-1989</h2>
                <article>
                    <h3>1983: TCP/IP Adopted</h3>
                    <p>ARPANET adopted TCP/IP.</p>
                </article>
                <article>
                    <h3>1984: DNS was introduced</h3>
                    <p>DNS was introduced, to translate human-readable names into network addresses.</p>
                </article>
                <article>
                    <h3>1986: NSFNET was established</h3>
                    <p>The National Science Foundation (NSF) established NSFNET, an academic network.</p>
                </article>
                <article>
                    <h3>1988: IRC was created.</h3>
                    <p>Internet Relay Chat Appeared</p>
                </article>
                <article>
                    <h3>1989: Less Restrictions on the Internet</h3>
                    <p>Governments started to lift restrictions on the Internet. Internet is no longer an academic concept or uniquely government research.</p>
                </article>
            </section>

            <section id="1990-1999">
            <h2>Fourth Phase:1990-1999</h2>
                <article>
                    <h3>1990: Arpanet was shut down.</h3>
                    <p>Arpanet is no longer running</p>
                </article>
                <article>
                    <h3>1991: Commercial Internet Expansion</h3>
                    <p>Commercial Internet Services expanded and became increasingly accessible.</p>
                </article>
                <article>
                    <h3>1995: NSFNET retirement</h3>
                    <p>NSFNET backbone retired, and commercial network providers took over the internet.</p>
                </article>
                <article>
                    <h3>Late 1990s: Internet Connectivity Increases</h3>
                    <p>ISPs, dial-up access, networking equipment, and consumer PCs brought Internet connectivity to millions of households.</p>
                </article>
            </section>

            <section id="2000-2010">
            <h2>Fifth Phase:2000-2010</h2>
                <article>
                    <h3>2000s: Connectivity Services become more advanced</h3>
                    <p>DSL, cable, and other broadband technologies replaced dial-up for many users.</p>
                </article>
                <article>
                    <h3>2007-2010: Mobile Networks Appeared</h3>
                    <p>Mobile Networks appeared, increasing internet access to almost everywhere.</p>
                </article>
            </section>

            <section id="2010-Present Day">
            <h2>Sixth Phase: 2010-Present Day</h2>
                <article>
                    <h3>2010s: Cloud Computing and High Speed Fiber Era</h3>
                    <p>Cloud computing, data centers, content-delivery networks, and high-speed fiber became fundamental components of Internet infrastructure.</p>
                </article>
                <article>
                    <h3>Present: Internet of Things and Internet Applications</h3>
                    <p>Internet connectivity increasingly extends to machines, sensors, vehicles, industrial systems, and low-latency applications.</p>
                </article>
            </section>

            <section id="References">
            <h2>Source Links:</h2>
                <article>
                    <pre>
                        <a href="https://www.darpa.mil/node/2108"> DARPA Official Web Page</a>
                        <a href="https://www.computerhistory.org/internethistory/?utm_source=chatgpt.com">Internet History by Computer History Museum</a>
                        <a href="https://www.internetsociety.org/internet/history-internet/brief-history-internet-related-networks/?utm_source=chatgpt.com">History of the Internet and Related Networks by Internet Society</a>
                        <a href="https://lemelson.mit.edu/resources/ray-tomlinson">Ray Tomlinson by Lemelson-MIT</a>
                        <a href="https://www.comsoc.org/node/19651">TCP Split by IEEE ComSoc</a>
                        <a href="Retiring-the-NSFNET-Backbone-Service_-Chronicling-the-End-of-an-Era-1.pdf">Retiring the NSFNET Backbone</a>
                    </pre>
                </article>
            </section>

        </main>

        <footer>
            <p>Web Programming — built with Flask and deployed on Render.</p>
            <p>This website is created for educational purposes only, as part of the GIN446 - Web Programming course, School of Engineering, USEK. (Fall 2026-2027)</p>
        </footer>

    </body>
</html>